<form id="contactForm" style="display: none;">
    <input type="text" id="name" placeholder="Name">
    <input type="email" id="email" placeholder="Email">
    <input type="text" id="subject" placeholder="Subject">
    <textarea id="message" placeholder="Message"></textarea>
    <input class="submitBtn" type="submit" value="Submit">
</form>