<div class="navBar">
    <img src="./images/logo.svg" alt="image">
        <ul class="no-bullets">
            <li><a class="attribute" href="/">Home</a></li>
            <li><a class="attribute" href="/about">About</a></li>
            <li><a class="attribute" href="/blog">Blog</a></li>
            <li><a class="attribute" href="/career">Careers</a></li>
            <li><a class="attribute" href="/login">Login</a></li>
        </ul>
    <button class="reqBtn">Request Info</button>
</div>