<div class="footer">
    <div class="logo">
        <img src="./images/logo.svg" style="filter: invert(1);">
        <div class="socialLogos">
            <img src="./images/icon-facebook.svg" alt="Image">
            <img src="./images/icon-youtube.svg" alt="Image">   
            <img src="./images/icon-twitter.svg" alt="Image">
            <img src="./images/icon-pinterest.svg" alt="Image">
            <img src="./images/icon-instagram.svg" alt="Image"> 
        </div>
    </div>
    <div class="options">
        <ul class="no-bullet">
            <li>About Us</li>
            <li class="contact">Contact</li>
            <li>Blog</li>
        </ul>
        <ul class="no-bullet">
            <li>Careers</li>
            <li>Support</li>
            <li>Privacy Policy</li>
        </ul>
    </div>
    <div class="right">
        <button class="reqBtn">Request Info</button>
        <p>© Easybank. All Rights Reserved</p>
    </div>
</div>
 