<div class="navBar">
    <img src="./images/logo.svg" alt="image">
        <ul class="no-bullets">
            <li>Home</li>
            <li>About</li>
            <li>Blog</li>
            <li>Careers</li>
        </ul>
    <button class="reqBtn">Request Info</button>
</div>